@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Refma.Models

@if (Request.IsAuthenticated)
{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    
    var currentUser = manager.FindById(User.Identity.GetUserId());
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

       <ul class="nav navbar-nav navbar-right">
           
           <li style="vertical-align: middle; height: 50px; line-height: 50px;"><img src="/images/@currentUser.TargetLang.ImageBig" style="border-radius: 50% 50% 50% 50%;width: 30px;height:30px" /></li>
            <li>
                @Html.ActionLink("My Profile", "AccountSettings", "Account", routeValues: null, htmlAttributes: new { title = "Settings" })
            </li>
            <li>
                @Html.ActionLink("My Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
