@model IEnumerable<Refma.Models.LangElementTranslation>

@{
    ViewBag.Title = "Translations";
}

<h2>Translations</h2>

<table class="table">
    <tr>
        <th>
          Source Language
        </th>
        <th>
          Word
        </th>
        <th>
          Target Language
        </th>
        <th>
          Translation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LangElement.Lang.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LangElement.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lang.Name)
        </td>
        <td>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode( item.Translation))<br /><br />
        </td>
        <td>
            <a title="Edit" href="@Url.Action("Edit", "LangElementTranslation", new { langElementId = item.LangElementId })" c class="btn-lg glyphicon glyphicon-pencil" style="text-decoration: none !important;" />
            <a title="Delete" href="@Url.Action("Delete", "LangElementTranslation", new { langElementId = item.LangElementId })" class="btn-lg glyphicon glyphicon-remove" style="text-decoration: none !important;" />
        </td>
    </tr>
}

</table>
