@model IEnumerable<Refma.Models.LangElementTranslation>

@{
    ViewBag.Title = "Translations";
}

<h2>Translations</h2>

<p>
    @Html.ActionLink("Add new translation", "Create", new { langElementId = ViewBag.Itemid })
</p>
<table class="table">
    <tr>
        <th>
          Source Language
        </th>
        <th>
          Word
        </th>
        <th>
          Target Language
        </th>
        <th>
          Translation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LangElement.Lang.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LangElement.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lang.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Translation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @type = "button", @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @type = "button", @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
